#images{
  
 justify-content: center; 
 & img{
    width: 20.5rem;
    height: 20.5rem;
  }

  @media(width >= 80em) {
    justify-content: initial;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5rem;
    
    & img{
      width: 17.875rem;
      height: 17.875rem;
    }
  }
}